{% extends 'base.html' %} {% block body %}
<div class="container d-flex align-items-center justify-content-between flex-column" style="height:95vh">
    <div></div>
    <div class="text-center">
        <input type="text" class="form-control mb-5" name="name" placeholder="Your Name" onkeypress="name_changed(this)">
        <div class="icon-camera d-none">
            <input type="file" accept="image/*" capture="camera">
        </div>
    </div>
    <div>
        <a class="btn btn-primary btn-sm mr-4" href="/">Take Photo</a>
        <a class="btn btn-primary btn-sm disabled" href="/add-face">Add Face</a>
        <a class="btn btn-primary btn-sm ml-4" href="/my-photos">My Photos</a>
    </div>
    <script src="/static/add-face.js"></script>
</div>
{% endblock %}