{% extends 'base.html' %} {% block body %}
<div class="container d-flex align-items-center justify-content-between flex-column" style="height:100%">
    <div></div>
    <div class="text-center">
        <input type="text" class="form-control mb-5" id="name" placeholder="Your Name" onchange="find_photos(this)">
        <div class="row photos">
        </div>
    </div>
    <div>
        <a class="btn btn-primary btn-sm mr-2" href="/">1
            <br/>Add Your Face</a>
        <a class="btn btn-primary btn-sm" href="/take-photo">2
            <br/>Take Photos</a>
        <a class="btn btn-primary btn-sm ml-2 disabled" href="/my-photos">3
            <br/>Find Photos</a>
    </div>
    <script src="/static/my-photos.js"></script>
</div>
<style>
    html {
        height: 100%;
        padding: 20px 0;
    }

    body {
        height: 100%;
    }
</style>
{% endblock %}